<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="jav.js" defer></script> -->
    <script src="jav.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>


    <div id="body">
        <form>
        
            <div class="rows">
                <div id="container2">
                    ERROR LOG</div>
                <div class="con1">
                    <h1> STUDENT DETAILES
                        <!-- <video width="700" height="700" controls autoplay loop muted>
                            <source src="cosmic-drive.3840x2160.mp4" type="video/mp4">
                        </video> -->
                    </h1>
                    <div>
                        <input class="input1" type="text" id="fname" placeholder="FULLNAME">
                    </div>
                      <div>
                        <input class="input1" type="text" id="rollno" placeholder="Rollno">
                    </div>
                    <div>
                        <input type="text" class="input1" id="std" placeholder="STD">
                    </div>
                    <div>
                        <input type="text" class="input1" id="div" placeholder="DIv">
                    </div>
                    <div class="gender">
                        Gender :
                        <label for="male">Male:</label>
                        <input type="radio" id="male" name="gender" value="M">
                        <label for="male">Female:</label>
                        <input type="radio" id="female" name="gender" value="F">
                    </div>
                    <div class="button">
                        <button id="reset">Reset</button>
                        <button id="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
          <div class="loader1"></div>
        <div class="loader2"></div>
        <div class="loader3"></div>
        <div class="loader4"></div>
        <div class="loader5"></div>
        <div class="loader6"></div>
        <div class="loader7"></div>
        <div class="loader8"></div>
        <div class="loader9"></div>
        <div class="loader10"></div>
        <div class="loader11"></div>
        <table class="container" id="table">
           
        </table>
          

    </div>
  
    
</body>

</html>