<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Details Form</title>
    <script src="teacher.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Teacher Details</h1>
        <label for="name">Teacher Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="idno">ID Number:</label>
        <input type="text" id="idno" name="idno" required><br><br>

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br><br>
         
        <button id="submit">submit</button>
       <div id="Screen"></div>
       <button id="Reset">Reset</button>
 <table id="table">

</table>  
</body>
</html>
